#intro {
    background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
    height: 100vh;
}

.text-product {
    color: black;
}

.custom-nav {
    box-shadow: none;
}

.current-page .nav-link {
    color: #fff !important;
    /* Màu trắng và !important để ghi đè lên các giá trị màu khác */
}

.current-page .nav-link.active {
    color: #000 !important;
    /* Màu đen và !important để ghi đè lên giá trị màu khác */
}

.custom-nav-list {
    position: relative;
}

.custom-nav-list ul ul {
    background-color: white;
}

.custom-nav-list li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.custom-nav-list li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 150px;
    position: absolute;
    top: 0;
    left: 100%;
    transition: all 0.3s;
}

.custom-nav-list li:hover > ul {
    top: 0;
    visibility: visible;
    opacity: 1;
}

.custom-nav-list ul li ul {
    padding: 0;
}

.custom-nav-list ul li ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.custom-nav-list ul ul {
    background-color: white;
    border-radius: 4px; /* Bo tròn bốn góc */
}

.custom-nav-list ul li ul {
    padding: 0;
    border-radius: 4px; /* Bo tròn bốn góc */
}

.custom-nav-list ul li ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.alert {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}

.close-alert {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 1000;
    transform: translateY(-50%);
}

.search-product-form {
    position: relative; /* Để có thể đặt search-results dưới nó */
    /* ... (định dạng khác cho search-product-form) */
}

#search-results {
    display: none;
}

.search-results {
    text-align: left;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 110%; /* Hiển thị phía dưới search-product-form */
    left: 0%;
    background-color: white;
    max-height: 300px;
    overflow-y: auto;
    z-index: 999;
}

.search-results ul {
    padding: 0; /* Loại bỏ khoảng cách bên trong ul */
    margin: 0; /* Loại bỏ khoảng cách xung quanh ul */
    list-style-type: none; /* Loại bỏ đánh dấu mặc định */

    /* Đảm bảo rằng các li chiếm hết ul */
    display: flex; /* Sử dụng flexbox cho ul */
    flex-direction: column; /* Hiển thị các li theo chiều dọc */

    border: 1px solid #bdbdbd; /* Độ dày và màu sắc của khung */
    max-height: 300px; /* Đặt chiều cao tối đa cho ul */
    overflow-y: auto; /* Bật thanh cuộn khi cần thiết */

    /* Loại bỏ thanh cuộn mặc định */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

/* Định dạng thanh cuộn trên các trình duyệt */
.search-results ul::-webkit-scrollbar {
    width: 5px; /* Độ rộng của thanh cuộn */
}

.search-results ul::-webkit-scrollbar-thumb {
    background-color: #bdbdbd; /* Màu nền của thanh cuộn */
    border-radius: 10px; /* Bo tròn góc của thanh cuộn */
}

.search-results ul::-webkit-scrollbar-thumb:hover {
    background-color: #999; /* Màu nền khi di chuột vào thanh cuộn */
}

.search-results li {
    /* Ví dụ: Khoảng cách giữa các phần tử li */
    display: flex; /* Hiển thị các phần tử li theo chiều ngang */
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
}

.search-results .product-item {
    display: flex;
    align-items: center;
}

.search-results .product-item img {
    width: 60px;
    height: 60px;
}

.search-results .product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px; /* Khoảng cách giữa hình ảnh và thông tin sản phẩm */
}

.search-results .product-name {
    white-space: nowrap; /* Ngăn chặn văn bản bị tràn dòng */
}

.search-results .product-price {
    margin-top: 5px; /* Khoảng cách từ giá tiền đến tên sản phẩm */
}

.search-results .product-link {
    padding: 10px;
    display: block;
    width: 100%; /* Để a lấp đầy toàn bộ chiều rộng của li */
    height: 100%; /* Để a lấp đầy toàn bộ chiều cao của li */
    text-decoration: none; /* Loại bỏ gạch chân mặc định cho liên kết */
    color: inherit; /* Kế thừa màu sắc từ phần tử cha (li) */
}

.search-results ul li:hover {
    background-color: #e1e1e1; /* Màu nền khi hover */
}

/* Đổi màu nền cho thông báo thành công */
.alertify-notifier .ajs-message.ajs-success {
    background-color: #4caf50;
    color: #fff;
    border-radius: 0.5rem; /* Bo tròn góc 2.5rem */
    text-align: left;
    width: 200px;
    right: 200px !important;
}

/* Đổi màu nền cho thông báo lỗi */
.alertify-notifier .ajs-message.ajs-error {
    background-color: #f44336;
    color: #fff;
    border-radius: 0.5rem; /* Bo tròn góc 2.5rem */
    text-align: left;
    width: 200px;
    right: 200px !important;
}

/* Đổi màu nền cho thông báo cảnh báo */
.alertify-notifier .ajs-message.ajs-warning {
    background-color: #ffc107;
    color: #fff;
    border-radius: 0.5rem; /* Bo tròn góc 2.5rem */
    text-align: left;
    width: 200px;
    right: 200px !important;
}

.similar-scroll {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
}

.similar-product {
    margin-bottom: 10px;
}

.img-md {
    max-width: 96px;
    max-height: 96px;
}

.similar-scroll::-webkit-scrollbar {
    width: 5px;
}

.similar-scroll::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

/* Thêm CSS để căn chỉnh tên và giá cùng hàng */
.name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-details {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.buttons {
    display: flex;
    align-items: center;
}


/* Ẩn mũi tên ở hai đầu */
.similar-scroll::-webkit-scrollbar-button {
    display: none;
}

.slider-for{
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.slider-for img{
    height:448px;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

.slider-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.slick-prev, .slick-next {
    display: none !important;
}


.slider-nav img{
    height:150px;
    object-fit: contain;
    border: 1px solid #bdbdbd;
    margin: 2px;
}
