#intro {
    background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
    height: 100vh;
}

.text-product {
    color: black;
}

.custom-nav {
    box-shadow: none;
}

.current-page .nav-link {
    color: #fff !important;
    /* Màu trắng và !important để ghi đè lên các giá trị màu khác */
}

.current-page .nav-link.active {
    color: #000 !important;
    /* Màu đen và !important để ghi đè lên giá trị màu khác */
}

/* CSS */

.main-img {
    max-height: 600px;
    /* Đặt chiều cao tối đa cho div */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Ẩn phần nào của ảnh vượt quá khung của div */
}

.img-feature {
    max-width: 100%;
    /* Đảm bảo ảnh không vượt quá chiều rộng của div */
    height: 100%;
    /* Đảm bảo ảnh chiếm hết chiều cao của div */
    object-fit: contain;
    /* Đảm bảo ảnh thu nhỏ để vừa khung mà không làm mất đi phần nào của nó */
}

.thumbnail {
    border: 2px solid transparent;
    /* Viền mặc định là trong suốt */
}

/* Lớp CSS cho ảnh được chọn */
.thumbnail.selected {
    border-color: black;
    /* Đổi màu viền thành đen khi ảnh được chọn */
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.custom-nav-list {
    position: relative;
}

.custom-nav-list ul ul {
    background-color: white;
}

.custom-nav-list li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.custom-nav-list li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 150px;
    position: absolute;
    top: 0;
    left: 100%;
    transition: all .3s;
}

.custom-nav-list li:hover > ul {
    top: 0;
    visibility: visible;
    opacity: 1;
}

.custom-nav-list ul li ul {
    padding: 0;
}

.custom-nav-list ul li ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.custom-nav-list ul ul {
    background-color: white;
    border-radius: 4px; /* Bo tròn bốn góc */
}

.custom-nav-list ul li ul {
    padding: 0;
    border-radius: 4px; /* Bo tròn bốn góc */
}

.custom-nav-list ul li ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.alert {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}

.close-alert {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 1000;
    transform: translateY(-50%);
}
